body {
    background: #212121;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    /* width: 100%; */
    /* background-color: aqua; */
    /* border-radius: 40px; */
  }
  
  .slotcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .slot {
    width: 300px;
    height: 150px;
    border: 1px solid black;
    border-radius: 7.5px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    background: #fafafa;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset;
    margin: 20px;
  }
  
  .slot .symbols {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 6.5s;
  }
  
  .slot .symbol {
    width: 100px;
    height: 150px;
    font-size: 60px;
    line-height: 100px;
    display: block;
    text-align: center;
    padding-left: 100px;
    padding-top: 25px;
    font-size: 40px;
    
  }
  
  button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
  }


  @import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#113156, #070731);
  /* height: 100vh;
  width: 100vw; */
}

#container {
  /* max-width: 100vw; */
  height: 100vh;
  position: fixed;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(background01.gif);
  /* background-size: calc(10 * 2px) calc(10 * 2px); */
  background-position: center;
  background-size: cover;
}

.container-inner {
  background: #a4363e;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 5px 6px 0px -2px #620d15, -6px 5px 0px -2px #620d15,
    0px -2px 0px 2px #ee9191, 0px 10px 0px 0px #610c14,
    0px -10px 0px 1px #e66565, 0px 0px 180px 90px #0d2f66;
  width: 70%;
}

.content {
  font-family: "Skranji", cursive;
  background: radial-gradient(#fffbf3, #ffe19e);
  padding: 24px;
  box-sizing: border-box;
  border-radius: 20px 18px 20px 18px;
  box-shadow: 0px 0px 0px 6px #5e1e21, 0px 0px 8px 6px #84222b,
    inset 0px 0px 15px 0px #614506, 6px 6px 1px 1px #e66565,
    -6px 6px 1px 1px #e66565;
  text-align: center;

  p {
    font-size: 56px;
    padding: 40px;
    box-sizing: border-box;
    color: #461417;
  }
}

.button-con {
  margin-top: 30px;
  /* height: 160px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* justify-content: space-around; */
  color: black;
}

.btn-class-name {
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 90px;
  height: 80px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(255, 90, 120, .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
  margin: 0 30px;
  font-family: "Skranji", cursive;
}

.btn-class-name .back {
  background: rgb(50, 150, 62);
  /* background: green; */
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .front {
  background: linear-gradient(0deg, rgba(9, 188, 75, 0.6) 20%, rgb(30, 153, 21) 50%);
  /* background: green; */
  box-shadow: 0 .5em 1em -0.2em rgba(150, 50, 60, .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(10, 53, 20);
  /* border: 1px solid green; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  /* color: rgb(150, 50, 60); */
  color: rgb(48, 42, 42);
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

.btn-reset .back {
  background: rgb(150, 50, 60);
}

.btn-reset .front {
  background: linear-gradient(0deg, rgba(255, 90, 120, .6) 20%, rgba(255, 90, 120) 50%);
  border: 1px solid rgb(150, 50, 60);
  color: rgb(48, 42, 42);
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

.meme .back {
  background: rgb(150, 132, 50);
}

.meme .front {
  background: linear-gradient(0deg, rgba(255, 200, 90, 0.6) 20%, rgb(226, 208, 125) 50%);
  border: 1px solid rgb(150, 50, 60);
  color: rgb(48, 42, 42);
  font-size: 14px;
}

.meme {
  width: 70px;
  height: 60px;
}